<div class="page-wrapper">
    <div class="slider-wrapper">
        <ngb-carousel
            #carousel
            [interval]="4000"
            [pauseOnHover]="pauseOnHover"
            [pauseOnFocus]="pauseOnFocus"
            (slide)="onSlide($event)"
        >
            <ng-template ngbSlide *ngFor="let img of images; index as i">
                <a href="#" target="_blank" rel="nofollow noopener noreferrer">
                    <div class="picsum-img-wrapper">
                        <img [src]="img" alt="My image {{i + 1}} description" />
                    </div>
                </a>
            </ng-template>
        </ngb-carousel>
    </div>

    <section class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-heading">
                        <h1>Channel Partners</h1>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <button class="btn btn-outline-dark mr-3" type="button">Log in</button>
                    <button class="btn btn-outline-dark" type="button">Register</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="devider"></div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-4">
                    <p style="font-size: 22px">
                        At Assetz, our Channel Sales and Channel Partners connect us with customers so they can find the perfect space to live or invest in.
                    </p>
                </div>
                <div class="col-md-4">
                    <p style="font-size: 14px">
                        Being part of the Channel Partner team at Assetz means:
                    </p>

                    <ul class="pl-3">
                        <li class="mb-2" style="font-size: 12px">You will receive exclusive updates on events, offers and launches.</li>
                        <li class="mb-2" style="font-size: 12px">You are responsible for communicating and sharing the details of our projects with prospective customers.</li>
                        <li class="mb-2" style="font-size: 12px">You will be part of our partner meets and pre-launch events.</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p style="font-size: 14px">To register as a Channel Partner with Assetz, please send us an email</p>

                    <p>
                        <a href="mailto:channelpartners@assetzproperty.com">channelpartners@assetzproperty.com </a>
                    </p>

                    <p>or</p>

                    <button type="button" class="btn btn-outline-dark">Register</button>
                </div>
            </div>
        </div>
    </section>

    
</div>

